<div class="card col-lg-12" id="<%= dom_id card %>" >


  <div class="top_card">
    <p>

      <strong><%= card.name %></strong>
    </p>

    <p>
      <strong>Pv</strong>
      <%= card.pv %>
    </p>
  </div>


  <img class="card-img-top " src="<%= card.image_card %>" alt="illustration de la carter"  height="180px" >

  <p class="top_card">

    <%= card.description %>
  </p>

<%= button_to "supprimer", @card, method: :delete, class:"btn btn-danger col-lg-4" %>

  <div class="top_card">



  <div class="top_card">
    <p>
    <strong><%= card.attack_name %></strong>


    </p>



  </div>
    <p>
      <strong><%= card.damages %></strong>

    </p>
  </div>


    <p class="top_card">
      <%= card.action %>
    </p>

</div>
