<div class="card col-lg-12" id="<%= dom_id card %>" >

<div>

  <p class="health">

    <%= card.pv %>
  </p>

  <img class="card-img-top " src="<%= card.image_card %>" alt="illustration de la carte"  height="280px" >

</div>



<p>
  <h4><%= card.name %></h4>
</p>

<p class="top_card">
  <%= card.description %>
</p>


  <div class="top_card">



  <div class="top_card">
    <p>
    <strong><%= card.attack_name %></strong>


    </p>



  </div>
    <p>
      <strong><%= card.damages %></strong>

    </p>
  </div>


    <p class="top_card">
      <%= card.action %>
    </p>

</div>
