

  <%= form_with(model: card) do |form| %>
    <% if card.errors.any? %>
      <div class="container"> style="color: red">
        <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

        <ul>
          <% card.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>



    <div class="formulaire">


    <h2>Crée ta propre carte !</h2>

      <div class="form_align">

        <%= form.text_field :name , placeholder: "Nom" %>

        <%= form.text_field :pv, placeholder: "pv" %>

      </div>


      <%= form.text_area :image_card, placeholder: "url image" %>


      <%= form.text_area :description, placeholder: "description" %>


      <div class="form_align">

        <%= form.text_field :attack_name, placeholder: "nom de l'attaque" %>


        <%= form.text_field :damages, placeholder: "Dégats" %>

      </div>

      <%= form.text_area :action, placeholder: "action effectuée" %>

    </div>




    <div class="container">
      <%=  form.submit  %>
    </div>




  <% end %>
