

  <%= form_with(model: card) do |form| %>
    <% if card.errors.any? %>
      <div class="container"> style="color: red">
        <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

        <ul>
          <% card.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="container">

      <%= form.label :nom, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div class="container">
      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description %>
    </div>

    <div class="container">
      <%= form.label :dégats, style: "display: block" %>
      <%= form.text_field :damages %>
    </div>

    <div class="container">
      <%= form.label :image, style: "display: block" %>
      <%= form.text_area :image_card %>
    </div>

    <div class="container">
      <%= form.label :vie, style: "display: block" %>
      <%= form.text_field :pv %>
    </div>

    <div class="container">
      <%= form.label :action, style: "display: block" %>
      <%= form.text_area :action %>
    </div>

    <div class="container">
      <%= form.label :attaque, style: "display: block" %>
      <%= form.text_field :attack_name %>
    </div>

    <div class="container">
      <%=  form.submit  %>
    </div>

  <% end %>
