

  <%= form_with(model: card) do |form| %>
    <% if card.errors.any? %>
      <div class="container"> style="color: red">
        <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

        <ul>
          <% card.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


      <%= form.label :nom, style: "display: block" %>
      <%= form.text_field :name %>



      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description %>



      <%= form.label :dégats, style: "display: block" %>
      <%= form.text_field :damages %>



      <%= form.label :image, style: "display: block" %>
      <%= form.text_area :image_card %>



      <%= form.label :vie, style: "display: block" %>
      <%= form.text_field :pv %>



      <%= form.label :action, style: "display: block" %>
      <%= form.text_area :action %>



      <%= form.label :attaque, style: "display: block" %>
      <%= form.text_field :attack_name %>


    <div class="container create_submit">
      <%=  form.submit  %>
    </div>




  <% end %>
